@model Product;
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Add New Product</h2>
<hr />
@if (ViewBag.message != null) {
    <h3 class="text-danger">@ViewBag.message</h3>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="col-lg-8">
        <div class="rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-lg-6">
                <input asp-for="Name" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2">
                <label asp-for="Description"></label>
            </div>
            <div class="col-lg-6">
                <textarea cols="70" rows="5" asp-for="Description" class="form-control"></textarea>
            </div>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2">
                <label asp-for="Price"></label>
            </div>
            <div class="col-lg-6">
                <input asp-for="Price" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2">
                <label asp-for="Image"></label>
            </div>
            <div class="col-lg-6">
                <input id="upload" asp-for="Image" class="form-control" type="file" />
            </div>
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2">
                <label asp-for="Color"></label>
            </div>
            <div class="col-lg-6">
                <input asp-for="Color" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Color"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2">
                <label asp-for="ProductTypeId"></label>
            </div>
            <div class="col-lg-6">
                <select asp-for="ProductTypeId" asp-items="ViewBag.ProductTypeId" class="form-control"></select>
            </div>
            <span class="text-danger" asp-validation-for="ProductTypeId"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2">
                <label asp-for="TagNameId"></label>
            </div>
            <div class="col-lg-6">
                <select asp-for="TagNameId" asp-items="ViewBag.TagNameId" class="form-control"></select>
            </div>
            <span class="text-danger" asp-validation-for="TagNameId"></span>
        </div>
        <div class="form-group row">
            <div class=" col-lg-2">
                <label asp-for="Available"></label>
            </div>
            <div class="col-lg-6">
                <input asp-for="Available" class="checkbox" type="checkbox" />
            </div>
            <span class="text-danger" asp-validation-for="Available"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-outline-secondary">Back To List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}